<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ribbeter</title>
  </head>
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/dist/app.css">
  <body>
    <div class="app">
      <div class="nav">
        <a href="/">Ribbeter</a>
        <ul class="nav__right">
          <li class="nav__right-item"><a href="/">Ribbets</a> </li>
          <li class="nav__right-item"><a href="/users">Frogs</a></li>
          {% if currentUser %}
            <li class="nav__right-item"><a href="/logout">Logout</a></li>
          {% else %}
            <li class="nav__right-item"><a href="/login">Login</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="app__content">
        <div class="container">
          {% if old('error') %}
            <div>
              <p class="alert alert--danger">{{  old('error') }}</p>
            </div>
          {% endif %}

          {% if old('success') %}
            <div>
              <p class="alert alert--success">{{  old('success') }}</p>
            </div>
          {% endif %}
          {% block content %}

          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
