.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -#{$m-gutter};

  &__item {
    display: flex;
    flex-basis: calc(100% / 3 - #{$m-gutter} - #{$m-gutter});
    flex-grow: 1;
    min-width: 15rem;
    margin: #{$m-gutter};
    padding: 1rem 0.5rem;
    background: $c-pure-white;
    box-shadow: #{$box-shadow};
  }

  &__item-text {
    flex-direction: column;
    padding-left: 0.5rem;
  }

  &__title {
    margin: 0;
    font-weight: 600;
  }

  &__subtitle {
    margin: 0;
    color: $c-secondary-light;
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: underline;
  }
}
