{% extends "layout" %}

{% block content %}
{{ form.open({action: 'LoginController.store', class: 'form'}) }}

{{ csrfField }}
  <h3 class="form__title">Login</h3>

  <div class="form__group">
   {{ form.label('email', 'Email') }}
   {{ form.text('email', null, { class: 'form__input', placeholder: 'Email' }) }}
   </div>

   <div class="form__group">
   {{ form.label('password', 'Password') }}
   {{ form.password('password', null, { class: 'form__input', placeholder: 'Password' }) }}
   </div>

   <div class="btn">
   <a href="/register" class="btn__back">Register</a>
   {{ form.submit('Login', null, { class: 'btn__submit' }) }}
   </div>
{{ form.close() }}
{% endblock %}
