{% extends "layout" %}

{% block content %}
  <h3 class="title">Users</h3>

  <div class="grid">
    {% for item in users %}
      <div class="grid__item">
        <img src="http://www.placekitten.com/100/100" alt="">
        <div class="grid__item-text">
          <p class="grid__title">{{ item.email }}</p>
          <a href="/app/user/{{item.username}}"><p class="grid__subtitle">${{ item.username }}</p></a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
