.app {
  display: flex;
  flex-direction: column;

  &__content {
    flex-grow: 1;
    padding: 1rem 2rem;
  }
}

.container {
  max-width: $m-max-width;
  margin: 1rem auto;
}

@media (max-width: 480px) {
  .app {
    max-width: 30rem;
  }
}
