$c-primary: #96ca2d;
$c-light: #b5e655;
$c-secondary: #4bb5c1;
$c-secondary-light: #7fc6bc;
$c-white: #edf7f2;
$c-pure-white: #fff;

$m-gutter: 1rem;
$m-max-width: 60rem;

$font: 'Dosis', sans-serif;

// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'reset';
@import 'layout';
@import './components/nav';
@import './components/form';
